.btnCalculator {
	background: var(--Light-Blue, #1875e8);
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	outline: none;
	overflow: hidden;
	position: absolute;
	bottom: 3rem;
	left: 3rem;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	font-family: Inter;
}

.btnCalculator:hover:before {
	left: 110%;
	transition: 0.3s;
}

.btnCalculator:before {
	content: '';
	background: rgb(186 192 233 / 53%);
	height: 100%;
	width: 65px;
	position: absolute;
	top: 0;
	left: -100%;
	transform: skew(-45deg);
	transition: 0s;
}

.calculatorOverlay {
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	z-index: 1;
	animation: slideDownLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.open {
	animation: slideUpLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes slideUpLarge {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes slideDownLarge {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(100%);
	}
}
